@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background-color: black;
  color: white;
  /* border: 1px solid red; */
  font-family: "Inter", sans-serif;
}

:root {
  --random-color: #000;
}

section {
  /* padding: 4rem 2rem; */
  /* min-height: 100vh;
    min-width: 600px; */
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  /* max-width: 1000px; */
}
