/* Post.css (ou votre fichier de style) */

.PostContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #bfbdbd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.PostContainer h2 {
  font-size: 20px;
  padding: 20px;
  border-bottom: 0.5px solid #bfbdbd;
}

.PostContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.PostContainer label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.PostContainer textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bfbdbd;
  border-radius: 4px;
}

.PostContainer input[type="file"] {
  margin-top: 5px;
}

.PostContainer button {
  padding: 10px;
  font-size: 16px;
  background-color: #fb5607;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.PostContainer button:hover {
  background-color: #d44904;
}
